<%- include('../include/head.ejs') %>
<div class="container">
    <% if(errorMessage) { %>
        <%- include('../include/message.ejs') %>
    <% } %>

    <h1 class="text-center mt-4 mb-4">Login</h1>
    <form action="/login" method="POST">
        <div class="form-group">
            <label for="email">Email</label>
            <input id="email" class="form-control" type="text" name="email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input id="password" class="form-control" type="password" name="password">
        </div>

        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<%- include('../include/footer.ejs') %>